.form-group-disabled {
  background-color: #f5f5f5;
  .form-control:disabled {
    background-color: #f5f5f5 !important;
  }
}

.form-select {
  width: 100%;
  .ant-select-selector {
    border: none !important;
    box-shadow: none !important;
    padding: 0!important;
  }
}

.app-image-picker {
  position: relative;
  width: 100%;
  background-color: #eee;
  border-radius: 5px;
  padding: 6px;
  .app-image-picker-clear {
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: #f5f5f5;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      color: red;
    }
    * {
      font-size: 18px;
    }
  }
  .app-image-picker-img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }
  .app-image-picker-label {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: block;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    &:hover {
      transform: scale(0.96);
      .app-image-picker-label-icon {
        color: #555555;
      }
    }
    .app-image-picker-label-icon {
      color: #999999;
      font-size: 40px;
    }
    .app-image-picker-label-input {
      position: absolute;
      transform: scale(0);
      opacity: 0;
    }
  }
}
